<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Painel de chamada </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" style="font-size: 30px" > Painel </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="senha">
            <ion-label> Senha </ion-label>
            <ion-label id="senha"> {{ senhasService.mostrarSenha() }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
