<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Gerar Senha </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" style="font-size: 30px" > Senhas </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header expand="block" class="header-senha-titulo">
      Últimas Senhas
    </ion-card-header>
    <ion-card-content>
      <ion-button disabled id="lista-container"></ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="gerarSenhaGeral()">Senha Geral</ion-button>
      <ion-button expand="block" (click)="gerarSenhaPrior()">Senha Prioritária</ion-button>
      <ion-button expand="block" (click)="gerarSenhaExame()">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
